{% extends "personal/header.html" %}

{% block content %}
<div class="jumbotron"  style="margin-right: 10%; background:rgba(153, 202, 255,0.5);">
    <div class="row">
        <div class="col-lg-8 col-md-4 col-sm-4 col-xs-12 pad-50">
        	<p style="font-size: 20px; text-indent: 50px; margin-left: 30%;margin-right: -20%;">My Djournal is Life-Journal and This is an assignment in our "CSC One-eight Series". This is my first Django Project. I know that its already late to pass this one because the deadline of this assignment was already pass. I think maybe last second-week of March? maybe? not so sure ...<br><br>
        		I wish this assignment will still be graded.
        	</p>
        </div>
    </div>
</div>

<!-- {% include "personal/includes/htmlsnippet.html" %} -->
{% endblock %}